<mat-toolbar>Scaled Scatterplot</mat-toolbar>
<scatter-controls [width]="width"
                  [height]="height"
                  [xPadding]="xPadding"
                  [yPadding]="yPadding"
                  [xTicks]="xTicks"
                  [yTicks]="yTicks"
                  [points]="points"
                  [fillColor]="fillColor"
                  (widthChange)="updateWidth($event)"
                  (heightChange)="updateHeight($event)"
                  (xPaddingChange)="updateXPadding($event)"
                  (yPaddingChange)="updateYPadding($event)"
                  (xTicksChange)="updateXTicks($event)"
                  (yTicksChange)="updateYTicks($event)"
                  (pointsChange)="updatePoints($event)"
                  (fillColorChange)="updateFillColor($event)"></scatter-controls>
<scaled-scatterplot [dataset]="dataset"
                    [width]="width"
                    [height]="height"
                    [xPadding]="xPadding"
                    [yPadding]="yPadding"
                    [xTicks]="xTicks"
                    [yTicks]="yTicks"
                    [fillColor]="fillColor"></scaled-scatterplot>
